DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"

SUPABASE_URL="https://[PROJECT_REF].supabase.co"
SUPABASE_JWT_SECRET="[SUPABASE_JWT_SECRET]"
SUPABASE_SERVICE_ROLE_KEY="[SUPABASE_SERVICE_ROLE_KEY]"

PORT=3000
FRONTEND_URL="http://localhost:5173"
